<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MetroFramework.Diffusion.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MetroFramework.Diffusion.Properties.Settings.Diffusion_DataBaseConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Diffusion-DataBase.mdb;Persist Security Info=True;Jet OLEDB:Database Password=diffusion"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <MetroFramework.Diffusion.Properties.Settings>
            <setting name="PortStopbits" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="PortHandshake" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PortParity" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="PortBitsxs" serializeAs="String">
                <value>9600</value>
            </setting>
            <setting name="PortDatabits" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="PortWritebuffer" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="PortReadbuffer" serializeAs="String">
                <value>1024</value>
            </setting>
            <setting name="PortWaittime" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="Netcostxsms" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Netpin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Netsmscenter" serializeAs="String">
                <value>506789502020000</value>
            </setting>
            <setting name="AppRuntimes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AppSMSsent" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PortLastused" serializeAs="String">
                <value>COM</value>
            </setting>
        </MetroFramework.Diffusion.Properties.Settings>
    </userSettings>
</configuration>
